eliminar outliers
graficar

In [26]:
import pandas as pd
import warnings

In [31]:
df = pd.read_excel('C:/Python/Data Science/Proyecto_2/Datasets/Internet.xlsx', sheet_name=5)
print(df.dtypes)
df

Año              int64
Trimestre        int64
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
Periodo         object
dtype: object

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,2,733491,5867504,4169958,593197,191957,11556107,Abr-Jun 2024
1,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
2,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
3,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
4,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
5,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
6,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
7,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
8,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
9,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
10,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
11,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021
12,2021,2,2018587,5641731,1472246,476968,253552,9863084,Abr-Jun 2021
13,2021,1,2175211,5424782,1362976,434548,250455,9647972,Ene-Mar 2021
14,2020,4,2213949,5371824,1311199,421554,253036,9571562,Oct-Dic 2020
15,2020,3,2263889,5259351,1170879,413259,248821,9356199,Jul-Sept 2020
16,2020,2,2295533,5005115,1106725,376667,247016,9031056,Abr-Jun 2020
17,2020,1,2299457,4903674,1047817,352333,209145,8812426,Ene-Mar 2020
18,2019,4,2414575,4883869,941295,340144,213298,8793181,Oct-Dic 2019
19,2019,3,2909805,4800091,852221,338241,264326,9164684,Jul-Sept 2019
20,2019,2,2990457,4635575,760794,308027,265328,8960181,Abr-Jun 2019
21,2019,1,3132789,4435439,637099,276419,166389,8648135,Ene-Mar 2019
22,2018,4,3329027,4313831,388013,264299,178485,8473655,Oct-Dic 2018
23,2018,3,3521447,4238171,247366,246181,93870,8347035,Jul-Sept 2018
24,2018,2,3557216,4038141,226285,194267,94535,8110444,Abr-Jun 2018
25,2018,1,3574294,3981129,217460,165300,98870,8037053,Ene-Mar 2018
26,2017,4,3584311,3818157,211425,155775,100554,7870222,Oct-Dic 2017
27,2017,3,3622575,3670221,193964,106443,131740,7724943,Jul-Sept 2017
28,2017,2,3723518,3383434,180777,85813,56122,7429664,Abr-Jun 2017
29,2017,1,3708898,3276251,180146,84813,55746,7305854,Ene-Mar 2017
30,2016,4,3722794,3210602,178070,85119,55088,7251673,Oct-Dic 2016
31,2016,3,3776442,3124855,169898,81455,54300,7206950,Jul-Sept 2016
32,2016,2,3782085,3035272,167788,85452,59482,7130079,Abr-Jun 2016
33,2016,1,3792493,2806359,164371,85370,58763,6907356,Ene-Mar 2016
34,2015,4,3803024,2898226,139187,85726,58668,6984831,Oct-Dic 2015
35,2015,3,3788696,2840203,162663,84530,58976,6935068,Jul-Sept 2015
36,2015,2,3767821,2756294,150839,82077,59157,6816188,Abr-Jun 2015
37,2015,1,3756153,2668248,168188,79098,66045,6737732,Ene-Mar 2015
38,2014,4,3764038,2536219,149682,76984,71573,6598496,Oct-Dic 2014
39,2014,3,3714764,2569868,155494,85096,70049,6595271,Jul-Sept 2014
40,2014,2,3708882,2461670,149363,72405,72148,6464468,Abr-Jun 2014
41,2014,1,3697066,2407330,150323,70749,72930,6398398,Ene-Mar 2014

In [21]:
df_duplicados = df[df.duplicated()]
df_duplicados

Empty DataFrame
Columns: [Partido, Localidad, link Indec, Velocidad (Mbps), Provincia, Accesos]
Index: []

In [24]:
df.isna().sum()

Partido             0
Localidad           0
link Indec          1
Velocidad (Mbps)    0
Provincia           0
Accesos             0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [23]:
df_na = df.dropna()
df_na

,Partido,Localidad,link Indec,Velocidad (Mbps),Provincia,Accesos
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.0,1.0
1,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.5,2.0
2,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.75,19.0
3,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,3.0,85.0
4,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,3.5,145.0
...,...,...,...,...,...,...
18859,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,100.0,5779.0
18860,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,300.0,4570.0
18861,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,500.0,442.0
18862,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,600.0,223.0
18863,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,1000.0,36.0